@model toDoList_project.Model.Calender[]
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/CSS/minty-bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/TaskStyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="javascript:calender('@DateTime.Now.Year','@DateTime.Now.Month','Home')">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="javascript:calender('@DateTime.Now.Year','@DateTime.Now.Month','Work')">Work</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </li>
    </ul>
    <h1 style="padding-left:100px">@DateTime.Now.Year @DateTime.Now.ToString("MMMM")</h1>
    <div class="grid-container">
        <div class="grid-item">Mon</div>
        <div class="grid-item">Tue</div>
        <div class="grid-item">Wed</div>
        <div class="grid-item">Thu</div>
        <div class="grid-item">Fri</div>
        <div class="grid-item">Sat</div>
        <div class="grid-item">Sun</div>
        @foreach (var day in Model)
        {
            @if (day.EmptyDay)
            {
    <div class="grid-item">
    </div>
            }
            else
            {
                <div class="grid-item">
                    @day.Day.Day
                    <ul class="tasklist">

                        @foreach (var item in day.bookedTask)
                        {
                            var days = item.TaskDate.Day - DateTime.Today.Day;
                            if (day.Day.Day == item.TaskDate.Day && day.Day.Month == item.TaskDate.Month && day.Day.Year == item.TaskDate.Year)
                            {
                                <li style="list-style:none">
                                    <img src="https://img.icons8.com/material/20/000000/planner--v1.png" /> <img src="https://img.icons8.com/material-sharp/20/000000/clock.png" />
                                    @item.Name
                                </li>
                                if (item.TaskDate < DateTime.Today)
                                {
                                    <li style="list-style:none">
                                        <p style="color:grey">Date has passed</p>
                                    </li>
                                }
                                if (days <= item.Reminder && days >= 0 && DateTime.Now.Year == item.TaskDate.Year && DateTime.Now.Month == item.TaskDate.Month)
                                {
                                    if (days == 0)
                                    {
                                        <li>
                                            <small style="color:red">Today</small>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <small style="color:red">@days days left </small>
                                        </li>
                                    }

                                }
                                @*<li  style="list-style:none">
                    <span>@item.TaskDate.Hour:@item.TaskDate.Minute</span>

                </li>*@
                            }

                        }
                    </ul>
                </div>

            }

        }
    </div>
</body>
</html>