
    <div class="container">
            <div id="Delete"></div>
           
            <ul id="list">
                <div id="list-item" class="list-group" style="display:none">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                        </div>
                        <div id="Edit"></div>
                    </a>
                </div>
                <br />

                @foreach (var task in Model)
                {

                    var days = task.TaskDate.Day - DateTime.Today.Day;

                    <span style="display:none" id="@task.Id">false</span>
                    if (days<=3&&days>=0)
                    {
                        <li style=" list-style-type: none;">
                            <div class="list-group">
                                <div class="alert alert-dismissible alert-warning">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <h4 class="alert-heading"><img src="https://img.icons8.com/color/28/000000/leave.png" /> Reminder!</h4>
                                    <p class="mb-0">
                                        @task.Name @task.TaskDate
                                        <small style="color:orangered" id="deadline"> @days days left Deadline</small>
                                        <br />
                                        <a href="/Calender/@DateTime.Now.Year/@DateTime.Now.Month" class="alert-link">check calender</a>.
                                    </p>
                                </div>
                        </li>
                    }
                    <li style=" list-style-type: none;" id="item @task.Id">
                        <a @task.Name class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">@task.Name</h5>
                                <small>@task.TaskDate</small>
                            </div>
                            <span class="close" onclick="Delete(@task.Id)">X</span>
                            <img src="https://img.icons8.com/color/28/000000/leave.png" onclick="Check(@task.Id)" style="float:right;cursor:pointer" />
                            <img src="https://img.icons8.com/ultraviolet/28/000000/edit-property.png" onclick="Edit(@task.Id)" style="float:right;cursor:pointer" />
                            <p class="mb-1">@task.Description</p>
                            <small>Remind me </small>
                        </a>

                        @*<button onclick="Check(@task.Id)">Done</button>
                <button onclick="Delete(@task.Id)">Delete</button>
                <button onclick="Edit(@task.Id)">Edit</button>*@
                    </li>
                    <br />
                }
            </ul>
            </div>
    </div>


