<div class="container">

    <div class="list-group">
        <ul id="list">
            @foreach (var task in Model)
            {
                if (task.ischecked == true)
                {
                    <li class="checked">
                        <a @task.Name class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">@task.Name</h5>
                                <small>@task.TaskDate</small>
                            </div>
                            <p class="mb-1">@task.Description</p>
                            <small></small>
                        </a>
                    </li>
                }
                else
                {
        <li>
            <a @task.Name class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@task.Name</h5>
                    <small class="text-muted">@task.TaskDate</small>
                </div>
                <p class="mb-1">@task.Description</p>
                <small class="text-muted">Donec id elit non mi porta.</small>
            </a>
        </li>
           
        }


    }
            </ul>
        </div>
   </div>
